body {
  text-align: center;
  font-family: "Alata", sans-serif;
  background-color: #fcc8d1;
}

header {
  background-color: #c9a7eb;
  border: 3px solid #5c469c;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  border: 3px solid #d14d72;
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  background-color: #c9a7eb;
  border: 3px solid #5c469c;
}

.grid-item {
  border: 3px dashed #a7727d;
  padding: 5px;
}

.grid-images {
  width: 20%;
  box-shadow: 5px 5px 5px black;
}

.bg-img {
  opacity: 0.5;
}
